.box-department{
    margin: 0px auto;
    padding: 30px;
    margin-right: 5px;
    display:flex;
    flex-wrap: wrap;
    .card{
        margin: 10px 10px ;
        .card-body{
            p{
                margin:0;
            }
        }
    }
    .card-img-top{
        height: 178px;
    }
}
