<div [block-ui]="blockUi">
  <div class="title d-flex justify-content-between">
    <h1><i class="fa fa-sitemap mr-2"></i>Departments</h1>
    <a routerLink="new" class="btn btn-primary"><i class="fa fa-plus mr-1"></i>New</a>
  </div>
  <div class="box-department">
      <div class="card" style="width: 18rem;" *ngFor="let depart of departments">
          <img [src]='depart.imagem' class="card-img-top" [alt]='depart.description'>
          <div class="card-body">
            <h5 class="card-title">{{depart.name}}</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{depart.description}}</p>
              <div class="d-flex">
               <i class="fa fa-edit" routerLink="{{depart.id}}" style="color: #007bff;"></i>
               <i class="fa fa-trash ml-2" (click)="deleteDepartment(depart.id)" style="color: #dc3545;"></i>
            </div>
            </div>
            
          </div>
         
        </div>
  </div> 
</div>
