<div class="portlet" [block-ui]="blockUi">
  <div class="portlet-title d-flex justify-content-between flex-wrap">
    <h3><i class="fa fa-cogs mr-2"></i>{{departmentTitle}}</h3>
  </div>
  <div class="box-details">
    <div style="flex: 1;margin-right: 20px;">
      <form #formDepartment="ngForm" (ngSubmit)="onSubmit(formDepartment)" novalidate>
        <div class="form-group" [ngClass]="{
          'box-details__warning': !image.valid && image.touched}">
            <label for="image" class="control-label">Image</label>
            <input type="text" class="form-control" [(ngModel)]="department.image"
            name="image"  id="image" placeholder="image "  #image="ngModel">  
          <div class="alert alert-danger" *ngIf="!image.valid && image.touched">
            Image is required
          </div>
        </div>
        <div class="form-group" [ngClass]="{
          'box-details__warning': !name.valid && name.touched}">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="department.name"
          name="name" id="name" placeholder="name " required  #name="ngModel">
          <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            Name is required
          </div>
        </div>
        <div class="form-group" [ngClass]="{
          'box-details__warning': !description.valid && description.touched}">
          <label for="description">Description</label>
          <input type="text" class="form-control"  [(ngModel)]="department.description"
          name="description" id="description" placeholder="description " required  #description="ngModel">
          <div class="alert alert-danger" *ngIf="!description.valid && description.touched">
            Description is required
          </div>
        </div>
        <div class="d-flex">
          <a class="box-details__a btn btn-secondary mr-2" (click)="location.back()"><i class="fa fa-close mr-1"></i>Cancel</a>
          <button type="submit" class="btn btn-primary" [disabled]="!formDepartment.valid"><i class="fa fa-save mr-1"></i>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

