<div class="portlet" [block-ui]="blockUi">
  <div class="portlet-title d-flex justify-content-between">
    <h3><i class="fa fa-cogs mr-2"></i>{{employeeTitle}}</h3>
  </div>
  <div class="box-details ">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['name'].valid && form.controls['name'].touched}">
            <label for="nome" class="control-label">Name</label>
            <input class="form-control" type="text" formControlName="name" placeholder="name...">

            <div class="alert alert-danger" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">
              Name is invalid
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['email'].valid && form.controls['email'].touched}">
            <label for="email" class="control-label">Email</label>
            <input class="form-control" type="email" formControlName="email" placeholder="name@example.com">

            <div class="alert alert-danger" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
              Email is invalid
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['contact'].valid && form.controls['contact'].touched}">
            <label for="contact" class="control-label">Contact</label>
            <input class="form-control" type="text" formControlName="contact" placeholder="contact">

            <div class="alert alert-danger" *ngIf="!form.controls['contact'].valid && form.controls['contact'].touched">
              Contact is Invalida</div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['cpf'].valid && form.controls['cpf'].touched}">
            <label for="cpf" class="control-label">Cpf</label>
            <input class="form-control" type="text" formControlName="cpf" placeholder="cpf">
            <div class="alert alert-danger" *ngIf="!form.controls['cpf'].valid && form.controls['cpf'].touched">
              Cpf is invalid
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['age'].valid && form.controls['age'].touched}">
            <label for="age" class="control-label">Age</label>
            <input class="form-control" type="number" formControlName="age" placeholder="age">

            <div class="alert alert-danger" *ngIf="!form.controls['age'].valid && form.controls['age'].touched">
              Age is invalid
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['departmentId'].valid && form.controls['departmentId'].touched}">
            <label for="departmentId" class="control-label">Department</label>
            <input-dropdown-search
              displayTextProperty="name"
              valueProperty="id"
              formControlName="departmentId" 
              [disabled]="false"
              [data]="departments"        
            >
            </input-dropdown-search>

            <div class="alert alert-danger"
              *ngIf="!form.controls['departmentId'].valid && form.controls['departmentId'].touched">
              Department is invalid            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['joinDate'].valid && form.controls['joinDate'].touched}">
            <label for="joinDate" class="control-label">JoinDate</label>
            <input-date 
              formControlName="joinDate" 
              placeholder="joinDate"
              >
            </input-date>

            <div class="alert alert-danger"
              *ngIf="!form.controls['joinDate'].valid && form.controls['joinDate'].touched">
              JoinDate is invalid
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group" [ngClass]="{
            'box-details__warning': !form.controls['resignedDate'].valid && form.controls['resignedDate'].touched}">
            <label for="resignedDate" class="control-label">ResignedDate</label>
            <input-date 
              formControlName="resignedDate" 
              placeholder="resignedDate"
            >
            </input-date>

            <div class="alert alert-danger"
              *ngIf="!form.controls['resignedDate'].valid && form.controls['resignedDate'].touched">
              ResignedDate is invalid
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <a class="btn btn-secondary mr-2" (click)="location.back()"><i class="fa fa-close mr-1"></i>Cancel</a>
        <button type="submit"  class="btn btn-primary"><i
            class="fa fa-save mr-1"></i>Save</button>
      </div>
    </form>
  </div>
</div>